*,
*::after,
*::before {
    box-sizing: border-box;
}
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px; 
}
[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}
.col-xs-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}
.col-xs-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}
.col-xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-xs-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col-xs-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}
.col-xs-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}
.col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
}


/* Header */


.header {
    
    background-color: #1d2126;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header-row {
    align-items: center;
}
.nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 15px;

}
.list-style {
    height: 30px;
    
    align-items: stretch;
    padding: 0px 10px;
    flex-wrap: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: white;
    
    line-height: 25px;
    border: 2px solid #1d2126;
    border-radius: 5px;
    transition-property: border;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.list-style:hover {
    border: 2px solid #6b565d;
}
.home {
    color: #39a492;
    border: 2px solid #39a492;
}

.search {
    width: 100%;
    height: 30px;
    border: 2px solid #6b565d;
    border-radius: 5px;
}
.search > form {
    position: relative;
}
.input-search {
    width: 75%;
    height: 26px;
    padding: 0px;
    background: transparent ;
    border: none;
    outline: none;
    -webkit-appearance: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
   
}
.input-search:placeholder-shown {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding-left: 15px;
}
.input-search::-moz-placeholder {  color:white;}
.input-search::-webkit-input-placeholder { color: white; }
.input-search:-ms-input-placeholder { color: white; }
.input-search::-ms-input-placeholder { color: white; }
.input-search::placeholder { color: white; } 


.input-search-button {
    width: 30px;
    height: 26px;
    border: none;
    padding: 0px;
    background: url(images/search-zoom.png) center no-repeat ;
    position: absolute;
    top: 0px;
}






/* Slider */


.slider-content { 
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    height: 660px;
}
.slider-text > h2 {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Quattrocento Sans', sans-serif;
    padding: 10px 0px;
}
.slider-text > p {
    font-size: 16px;
    padding: 10px 0px;
    line-height: 1.3;
    opacity: 0.75;
}
.slider-wiev-more {
    width: 125px;
    height: 45px;
    background-color: #23b7a4;
    border: 1px solid #23b7a4;
    border-radius: 7px;
    color: white;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    font-family: 'Quattrocento Sans', sans-serif;
}
.slider-wiev-more:hover {
    background-color: white;
    color: black;

}
.slider-video-tour {
    width: 125px;
    height: 45px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 7px;
    color: white;
    text-transform: uppercase;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    font-family: 'Quattrocento Sans', sans-serif;
    
}
.slider-video-tour:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}
.slider-button {
    padding: 10px 10px 10px 0px;
}

.slider-tochka-perekl {
    height: 15px;
    width: 15px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 5px;
}
.slider-tochka {
    display: flex;
    position: absolute;
    right: 10px;
    bottom: 5px;
}
.slider-tochka-perekl-acktiv {
    height: 15px;
    width: 15px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 5px;
    background-color: #fff;
}

.slider-fon {
    width: 100%;
    height: 660px;
    position: absolute;
    z-index: -10;
}



 /* Section */



/* Section we are modest */
.section {
    padding: 80px 0px;
}
.section-main-flex-box {
    display: flex;
    
}
.section-header {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 36px;
    border-left: 8px solid #4e5a62;
    text-transform: uppercase;
    margin: 0px 0px 80px 15px;
    padding-left: 10px;
}

.section-about-it > p {
    font-size: 16px;
    padding: 10px 0px;
    opacity: 0.75;
    line-height: 1.3;
}
.section-about-it > p > span {
    font-weight: 600;
}
.nomer {
    width: 50px;
    height: 50px;
    color: white;
    background-color: #23b7a3;
    line-height: 50px;
    text-align: center;
    margin: 0px 10px;
}
.costumers-text > h3 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Quattrocento Sans', sans-serif;
}
.costumers-text > p {
    font-size: 16px;
    padding: 10px 0px;
    opacity: 0.75;
    line-height: 1.3;
}
.costumers {
    display: flex;
    flex-direction: row;
}
.costumers-text {
    flex: 2;
}

.soc-mereji {
    width: 60px;
    height: 60px;
    background-color: #c8cdd0;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;    
}
.div-mereji {     
    width: 100%;     
    display: flex;
    position: relative; 
    margin: 80px 0px  
}
.div-mereji > a {
    padding: 2px;
    display: block;
}
.soc-mereji:hover {
    transform: scale(1.2);
    background-color: black;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: linear;  
}
.solomka::after { 
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #dde1e4;
    margin: 20px 0px 0px 0px;
}

    
            /* Section meet the team */
    
.foto-people > a > img {
    height: 300px;
    width: 265px ;
}
.foto-people > a {
    display: block;
}
.text-people {
    height: 75px;
    width: 265px;  
    padding: 15px;
}
.text-people > h3 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.6;
    font-family: 'Quattrocento Sans', sans-serif;
}
.text-people > p {
    font-size: 14px;   
}
.meet-team-foto {
    background-color: #e1e6ea;
    height: 375px;
    width: 265px;
    position: relative;
    margin: 15px 0px;
}

.meet-flex { 
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
}
.soc-mereji-team {
    display: flex;
    width: 265px ;
    height: 375px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity linear 0.6s;
}
.soc-mereji-team > a > img {
    background-color: black;
    width: 50px;
    height: 50px;
    margin: 1px;
}
.meet-team-foto:hover .soc-mereji-team {
    opacity: 1;
}
.soc-mereji-team > a > img:hover {
    transform: scale(1.2);
    background-color: black;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

    /* Section lovely worrk */

.dark-section {
    background-color: #3a454d;
   
}
.display-block {
    display: block;
}
.lowely-work-img > a > img {
    width: 100%;
    height: 265px;
}
.lowely-work-galary {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.lowely-work-img {
    margin: 15px 0px;
    position: relative;
}
.section-header-white > h2 {
    
    color: white;
    
}
.text-lovely-work {
    width: 100%;
    height: 60px;
    background-color: #292f36;
    position: absolute;
    bottom: 0;
}
.text-lovely-work > h2 {
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding-left: 15px;
    line-height: 60px;
    font-family: 'Quattrocento Sans', sans-serif;
}
.img-hover-work > a > img {
    height: 40px;
    width: 40px;
}
.img-hover-work {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.hover-lovely-work {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.hover-lovely-work:hover {
    opacity: 1;
}

.lovely-work-button > input {
    width: 150px;
    height: 45px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 7px;
    color: white;
    text-transform: uppercase;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-family: 'Quattrocento Sans', sans-serif;
}
.lovely-work-button > input:hover {
    background-color: white;
    color: black;
}
/* section what we do */


.about-we-do > img {
    width: 65px;
    height: 65px;
   
}
.about-we-do > h3 {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    padding: 15px;
    font-family: 'Quattrocento Sans', sans-serif;
}
.about-we-do > p {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    line-height: 1.3;
    
}
.about-we-do {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.what-we-do {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/*   SECTION FEATURES   */


.features-img > img {
    width: 100%;
    height: 240px;
    margin-bottom: 30px;
}
.features-text > h3 {
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0px;
    font-family: 'Quattrocento Sans', sans-serif;
}
.features-text > p {
    color:white;
    font-size: 16px;
    padding: 10px 0px;
    opacity: 0.75;
    line-height: 1.3;
}
.section-features {
    display: flex;
}
.features-product {
    margin: 15px 0px;
}


   /*    SECTION IN TOUCH   */

.contact-inf {
    margin: 50px 0px;

   }


.stay-in-touch-img > img {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.contact-inf > h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: black;
    font-family: 'Quattrocento Sans', sans-serif;
    padding-left: 15px;
}
.contact-inf > p {
    font-size: 16px;
    padding: 10px 0px;
    opacity: 0.75;
    line-height: 1.3;
    color: black;
}
.form-send {
    width: 100%;
    height: 400px;
    
}
.form-send-position {
    position: absolute;
    right: 0;
    bottom: 0;
}
.position-absolute {
    position: relative;
}

.form-name > p {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    opacity: 0.75;
    padding-bottom: 15px;
}
.form-name > input {
    width: 100%;
    height: 45px;
    background-color: #eaeef1;
    border: none;
    border-radius: 8px;
    
}
.form-email > p {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    opacity: 0.75;
    padding-bottom: 15px;
}
.form-email > input {
    width: 100%;
    height: 45px;
    background-color: #eaeef1;
    border: none;
    border-radius: 8px;
}
.form-message > p {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    opacity: 0.75;
    padding-bottom: 15px;
}
.form-message > textarea {
    width: 100%;
    height: 160px;
    background-color: #eaeef1;
    border: none;
    border-radius: 8px;
    resize: none;
}
.form-send > form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.form-message {
    width: 100%;
    padding: 15px;
}
.form-email {
    width: 50%;
    padding: 15px;
}
.form-name {
    padding: 15px;
    width: 50%;
}

.form-send {
    padding: 15px;
    background-color: #fff;
    border-radius: 7px;
}
.button-mess {
    width: 150px;
    height: 45px;
    background-color: #23b7a4;
    border: 1px solid #23b7a4;
    border-radius: 7px;
    color: white;
    text-transform: uppercase;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    margin: 15px;
}
.button-mess:hover {
    background-color: black;
}


  /*   footer   */

.footer {
    height: 95px;
    background-color: #3a454d;
   
}
.text-footer {
    color: white;
    font-size: 14px;
}
.soc-footer {
    display: flex;
    justify-content:flex-end;
}
.soc-footer > a > img {
    width: 50px;
    height: 50px;
}
.footer-flex {
    height: 95px;
    justify-content: space-between;
    align-items: center;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}
.modal-block {
    width: 300px;
    height: 300px;
    background-color: #0ccbd2;
    border: 2px outset #3abc8d;
    padding: 15px;
    margin: 100px auto;
    border-radius: 7px;
}
.modal-block > form > h3 {
    text-align: center;
    color: white;
    margin: 15px 0px;
}
.modal-block > form {
    height: 90%;
    position: relative;
}
.form-field {
    margin: 20px 0px;
}
.form-field > input {

    width: 100%;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid white;
    background-color: #0ccbd2;
    text-align: center;
}
.close-btn {
    display: block;
    cursor: pointer;
    height: 15px;
    width: 15px;
    position: relative;
    
    left: 90%;
    color: white;
}
.modal-btn {
    color: white;
    background-color: #0ccbd2;
    border: 2px outset #3abc8d;
    width: 115px;
    height: 50px;
    padding: 5px;
    margin: 15px auto;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 5px;
}
.modal-btn:hover {
    border: none;
    background-color: white;
    color: #3abc8d;
}
.hide {
    display: none;
}
.show {
    display: block;
}

@media(min-width:768px) and (max-width:991px) {
    .container{
        max-width: 720px;
    }
    .col-sm-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-sm-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-sm-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .meet-flex {
        flex-wrap: wrap;
    }
    .form-send {
        width: 100%;
        height: 400px;
    }
    .form-send-position {
        position: relative;
    }
    .meet-flex {
        justify-content:space-around;
    }
    .nav {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}



@media(min-width:992px) {
    .container{
        max-width: 960px;
    }
    .col-sm-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-sm-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-sm-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .meet-flex {
        flex-wrap: wrap;
    }
}


@media(min-width:1200px) {
    .container{
        max-width: 1140px;
    }
    .col-sm-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-sm-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-sm-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media(max-width: 767px) {
    .header-row {
        flex-wrap: wrap;
    }
    .col-xs-hidden {
        display: none;
    }
    .logo-modest {
        display: flex;
        place-content: space-between center;
        padding: 15px;
    }
    .nav {
       height: 50%;
       justify-content: space-between;
       border-bottom-left-radius: 20%;
    }

    /* section */

        /* section we are modest */
    .section-main-flex-box {
        display: flex;
        flex-direction: column;
    }
    .div-mereji {          
        display: flex;
        justify-content: center;
        position: relative;  
        flex-wrap: wrap;
    }


    /* section meet the team */
    .meet-flex {
        flex-wrap: wrap;
    }
    .meet-team-foto {
         margin: 5px;
    }
    
    /*  section lovely work */

    
    /*  section features */

    .section-features {
        flex-wrap: wrap;
    }


    /*  section stay in touch */
    .form-send {
        width: 100%;
        height: 400px;
    }
    .form-send-position {
        position: relative;
    }
    .form-name > input {
        width: 90%;
        height: 45px;
        background-color: #eaeef1;
        border: none;
        border-radius: 8px;  
    }
    .form-email > input {
        width: 90%;
        height: 45px;
        background-color: #eaeef1;
        border: none;
        border-radius: 8px;
    }
    .form-message > textarea {
        width: 90%;
        height: 160px;
        background-color: #eaeef1;
        border: none;
        border-radius: 8px;
        resize: none;
    }
    .form-send > form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .form-message {
        margin: 15px 0px;
    }
    .form-name {
        margin: 15px 0px;
    }
    
    .form-send {
        padding: 10px;
        background-color: #fff;
    }
    

    /* footer */
    .footer-flex {
        flex-wrap: wrap;
        justify-content: center;
        align-items: none;
    }

    /* burger menu */

    .nav-mobile-menu {
        width: 15px;
        height: 15px;
        position: relative;
        left: 80%;
    }
    .nav-mobile-menu span {
        height: 1px;
        background-color: #fff;
        position: absolute;
        left: 0;
        right: 0;
        transition: .25s ease-in-out;
    }
    .nav-mobile-menu span:nth-child(1) {
        top: 3px;
    }
    .nav-mobile-menu span:nth-child(2) {
        top: 7px;
    }
    .nav-mobile-menu span:nth-child(3) {
        bottom: 3px;
    }
    .navigation {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 280px;
        max-width: 280px;
        transform: translateX(150%);
        transition: all 500ms ease-in-out;
    }
    .hidden-menu {
        opacity: 0;
        visibility: hidden;
    }
    .nav-mobile-menu.active-menu span:nth-child(1) {
        top: 50%;
        transform: rotate(45deg);
    }
    .nav-mobile-menu.active-menu span:nth-child(2) {
        top: 50%;
        transform: rotate(-45deg);
    }
    .nav-mobile-menu.active-menu span:nth-child(3) {
        transform: scale(0);
    }
    .navigation.active-menu {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        padding: 25px;
        background-color: black;
        top: 50px;
    }
    .navigation.active-menu  {
        flex-direction: column;
    }
}